<!doctype HTML>
<html>
  <head>
    <title>Lotus Blog</title>
    <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css" rel="stylesheet" >

  </head>
  <body>
      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
